@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

@theme inline {
   
  --text-heading-hg: 48px;
  --text-heading-xl: 32px;
  --text-heading-lg: 28px;
  --text-heading-md: 24px;
  --text-heading-sm: 20px;
  --text-heading-xs: 16px;

  --text-body-md: 16px;
  --text-body-sm: 14px;
  --text-body-xs: 12px;

  --text-body-tag: 12px;

  --text-action-md: 16px;
  --text-action-sm: 14px;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Poppins;
  scroll-behavior: smooth;
}

h1,
h2,
h3 {
  font-family: Quicksand;
}

h4,
h5,
h6,
p {
  font-family: poppins;
}